<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table border="1">
        <thead>
        <tr>
            <th>Requests</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Total Requests</td>
            <td th:text="${requestCount}"></td>
        </tr>
        <tr>
            <td>Open Requests</td>
            <td th:text="${openStatusCount}"></td>
        </tr>
        <tr>
            <td>In Progress Requests</td>
            <td th:text="${inProgressStatusCount}"></td>
        </tr>
        <tr>
            <td>Closed Requests</td>
            <td th:text="${closedStatusCount}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>